/* html
{
    background-color: rgb(255, 255, 255);
}
#fred
{
    color: #309b80;
    font-size: 24pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: flex;
    background-color: aquamarine; 
}
#fred:hover
{
    color: #1eecb9;
    background-color: #309b80;
}
#fred:active
{
    background-color: #000000;;
} */
.titleCard
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78559f;
}
