.globalNav
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    width: 125px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    background-color:aquamarine;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
    transition: width 0.79s, height 0.79s, padding 2s, border-radius 2s;
    
}
#orderOnline
{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    width: 125px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    background-color:aquamarine;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
    transition: width 0.79s, height 0.79s, padding 2s, border-radius 2s;
}
#orderFax
{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    width: 125px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    background-color:aquamarine;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
    transition: width 0.79s, height 0.79s, padding 2s, border-radius 2s;
}
#frequentlyAskedQuestions
{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    width: 125px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    background-color:aquamarine;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
    transition: width 0.79s, height 0.79s, padding 2s, border-radius 2s;
}
#findReports
{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    width: 125px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    background-color:aquamarine;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
    transition: width 0.79s, height 0.79s, padding 2s, border-radius 2s;
}